.quote-bg-img {
    background-image: linear-gradient(0deg, var(--background-color), var(--background-color)), url(../images/sam-barber-ObAH4AmY6f4-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.quote-jumbo {
    background-color: transparent;
    color: var(--white);
    min-height: 87vh;
    padding: 0;
    border-radius: 0;
}

.random-quote {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    min-height: 87vh;
    margin-bottom: 0px;
    border-radius: 0;
}

#search-term-title::before {
    content: "Showing results for: ";
    color: var(--white);
    font-family: 'Euclid Circular A', sans-serif;
    font-size: 28px;
    font-weight: 300!important;
    margin-right: 20px;
}

#search-term-title {
    text-transform: capitalize;
    color: var(--gold);
    font-size: 56px;
    margin: 30px 0;
}

#author-excerpt {
    font-style: italic;
    color: var(--grey);
}

#see-more a {
    font-style: normal;
    color: var(--white);
    margin-left: 5px;
}

#see-more a:hover {
    color: var(--gold);
    text-decoration: none;
}

#quote-snippets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    max-width: 50%;
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--grey) !important;
    margin: 10px;
}

.card-body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-end;
}

.quote-text {
    font-size: 18px;
    font-weight: 300;
}

.author-text::before {
    content: "- ";
}

.author-text {
    color: var(--grey);
    max-width: fit-content;
    font-style: italic;
}

.author-text:hover {
    color: var(--gold);
    text-decoration: none;
}

.button-area {
    display: flex;
}

.refresh-btn {
    display: inline;
    color: var(--white);
    font-size: 28px;
    transition: all 0.8s;
    margin: 10px;
}

.refresh-btn:focus {
    box-shadow: none;
}

.refresh-btn:hover {
    color: var(--gold);
    transform: rotate(180deg);
}