/* Sets the box size calculation to include padding/borders */
* {
  box-sizing: border-box;
}

/* A list of variable for values repeadted several times */
:root {
  --navy: #0a161f;
  --gold: #b8811c;
  --white: #fff;
  --grey: #c0c0c0;
  --background-color: #20394de7;
}

html {
  scroll-behavior: smooth;
}

/* Set the site font to Euclid Circular A */
body {
  font-family: 'Euclid Circular A', sans-serif;
  min-height: 100px;
}

h1, h2 {
  font-family: 'Clicker Script', cursive;
  line-height: 1.2;
}

h1 {
  font-size: 150px;
}

h2 {
  font-size: 94px;
}

.hide {
  display: none !important;
}

.custom-nav {
  background-color: transparent!important;
}

.nav-link {
  color: var(--white);
}

.nav-link:hover {
  color: var(--gold);
}

.bg-img {
  background-image: linear-gradient(0deg, var(--background-color), var(--background-color)), url(../images/sam-barber-ObAH4AmY6f4-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Styles for the large jumbotron on homepage */
.welcome-jumbo {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  min-height: 88vh;
  margin-bottom: 0px;
  border-radius: 0;
}

.lead {
  margin: 30px 0 40px 0;
  font-size: 18px;
  font-weight: 300;
  color: var(--grey);
}

.fade-in {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Styles for the quote page */
.random-quote {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  min-height: 88vh;
  margin-bottom: 0px;
  border-radius: 0;
}

.quote-content {
  font-size: 28px;
  font-weight: 300;
}

.author {
  color: var(--grey);
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 50px;
}

.author::before {
  content: "- ";
}

/* Style for search page */ 
.search-quote {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  min-height: 88vh;
  margin-bottom: 0px;
  border-radius: 0;
}

#category-btns {
  margin-top: 20px;
  justify-content: center;
}

.category-btn {
  text-transform: capitalize;
  margin: 20px;
  background-color: var(--navy);
  color: var(--white);
  padding: 10px;
  width: max-content;
}

.category-btn:hover {
  background-color: var(--gold);
  transform: scale(1.1);
  transition: all 0.3s linear;
}

.category-btn:focus {
  box-shadow: 0px 0px 15px 0px #e69e1780;
}

/* Styles for the buttons */
.custom-btn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  color: white;
  border: 3px solid var(--gold);
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
}

.custom-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--gold);
  transform: translateX(-100%);
  transition: all .5s;
  z-index: -1;
}

.custom-btn:hover::before {
  color: var(--navy);
  transform: translateX(0);
}

.custom-btn:focus {
  background-color: var(--gold);
  border: 3px solid var(--gold);
  box-shadow: 0px 0px 15px 0px #e69e1780;
}

.button-area {
  display: flex;
}

.home-btn,
.refresh-btn {
  display: inline;
  color: var(--white);
  font-size: 28px;
  transition: all 0.8s;
  margin: 10px;
}

.home-btn:hover {
  color: var(--gold);
  transform: scale(1.5);
}

.home-btn:focus,
.refresh-btn:focus {
  box-shadow: none;
}

.refresh-btn:hover {
  color: var(--gold);
  transform: rotate(180deg);
}

/* Author btns */
#author-btns {
  justify-content: center;
}

.author-card {
  background-color: var(--navy);
  color: var(--white);
  border-radius: 4px!important;
}

.card {
  margin: 10px;
  border: none!important;
}

.card-text {
  color: var(--grey);
  font-weight: 300;
}

.author-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

/* Footer Styling */
.footer {
  height: 4.05vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  width: cover;
  background-color: var(--navy);
  border-top: 8px solid var(--gold);
}

.copyright {
  font-size: 0.8rem;
  color: var(--grey);
  background-color: var(--navy);
  text-align: center;
  height: 4vh;
}